.footer-body{
    height:auto;
    width:100%;
    background-color: #121214 ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    padding: 60px 0px 20px 0px;
}


.icon-footer{
    color: #6730dd;
    font-size:30px;
}

.list-contacts{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 350px;
}

.contacts-title{
    color: #6730dd;
}


.contact-item{
    color: #6730dd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:10px
}

.localization{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-localization{
    color: #6730dd;
    margin-bottom:10px;
}

@media (max-width: 600px) {
    .footer-body{
        display: flex;
        flex-direction: column;
        height:auto;
        padding: 20px 0px 20px 0px;
    }
    .contacts{
        padding-bottom: 30px;
    }
}