.highlights-body {
  height: 100vh;
  width: 100%;
  margin-bottom: 200px;
}

@media (max-width: 600px) {
  .highlights-body {
    margin-bottom: -300px;
  }
}

.carousel {
}

.carousel-item {
  width: 100%;
  height: 700px;

  -webkit-box-shadow: 0px 0px 10px 7px #606060;

  -moz-box-shadow: 0px 0px 10px 7px #606060;

  box-shadow: 0px 0px 10px 7px #606060;
}

#item-1 {
  background-image: url(../../assets/products.jpg);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#item-2 {
  background-image: url(../../assets/model1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#item-3 {
  background-image: url(../../assets/modelBoy.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#item-4 {
  background-image: url(../../assets/oculus.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#item-5 {
  background-image: url(../../assets/model2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.subtitle-highlights {
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  font-weight: 200;
}

.title-highlights {
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  font-weight: 400;
}

.item-shadow {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.button-look {
  height: 60px;
  width: 120px;
  margin-top: 40px;
  background-color: #6730dd;
  color: #fff;
  cursor: pointer;
  border-style:none;
}

.button-look:hover {
  background-color: #8455e9;
  transition: 1s;
}

@media (max-width: 600px) {
  .carousel-item {
    width: 100%;
    height: 400px;
  }
  .item-shadow {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 50px 10px 10px 10px;
  }
  .subtitle-highlights {
    font-size: 15px;
  }
  .title-highlights {
    font-size: 17px;
  }
  .button-look {
    height: 40px;
    width: 70px;
    margin-top: 20px;
  }
}
