
.product-details{
    display: flex;
    flex-direction: row;
}

.properties-product{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 600px;
}

.check-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    width: 120px;
    height: 40px;
}

.product-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 5px 5px;
}

.button-purchase{
    height:60px;
    width: 180px;
    color: #fff;
    background-color:  #6730dd;
    border-style: none;
    margin-top: 10px;
}

.button-purchase:hover{
    transition: 0.3s;
    background-color:  #7e45f8;
    cursor: pointer;

}

@media (max-width: 600px) {
    .product-details{
        display: flex;
        flex-direction: column;
    }

    .properties-product{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        
    }
}